My workflow 2 (1).json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        0
      ],
      "id": "4e6033df-51a5-48f4-8634-4095cc84a71e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "biii",
          "mode": "list",
          "cachedResultName": "biii"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        256,
        0
      ],
      "id": "f1f04be8-f960-4ae2-963a-a8d51d2e8cc2",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "GlflaW2OuEV1yK3E",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        368,
        176
      ],
      "id": "f383ab0b-fddd-4145-93a6-3d7de77b6c0e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        464,
        384
      ],
      "id": "58786537-f70d-4779-a824-a7587621bd12",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "*.pdf",
        "limit": 200,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -368,
        0
      ],
      "id": "4042fcc9-8b9c-4d20-aef1-6ea61ac12f31",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "S845aGRaPtWUXpQw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -160,
        0
      ],
      "id": "c4e7db55-2f67-415e-9b83-3d090a109c15",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "S845aGRaPtWUXpQw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        48,
        0
      ],
      "id": "8e1473c1-17ba-41a9-90c0-3bc922ecfa33",
      "name": "Extract from File"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        192
      ],
      "id": "4bf2e95b-fc61-4956-862d-8d6d10aa6dce",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "g13v8fjMz3yETFLz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4352e45b-43e2-40c4-88e9-8a86f3d08d0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7242213eebd9471bdee800dde5e27e39261d988ceae9c986432d1970af18d5f"
  },
  "id": "mwetyH0mh68j04HF",
  "tags": []
}